extends layout

block content
  h1= title
  .container
  table
    tr
      th Name
      th Party Size
      th Wait Time
    tr
      td Logan
      td 5
      td 5
    tr
      td Niema
      td 2
      td 10
